head
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Arbutus+Slab' rel='stylesheet' type='text/css')
  title ciara burkett // web &amp; game developer
  
  body
    .container
      header
        h1
          a(href="/") ciara.
        p I am a web &amp; interaction engineer, technical writer, and artist.
        
      .main
        aside
          h2 Skills
          ul
            li Web Development
            li Game Development
            li Game Art 
        .projects
          h2 Projects
          ul
            li Meteor Academy
            li Prolix
        
