head
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Arbutus+Slab' rel='stylesheet' type='text/css')
  title ciara burkett // web &amp; game developer
  
  body
    .container
      header
        h1
          a(href="/") ciara.
        p I am a web &amp; interaction engineer, technical writer, and artist.
        
      .main
        aside
          h2 Skills
          ul
            li Web Development
            li Game Development
            li Game Art 
        .projects
          h2 Projects
          ul
            li 
              h3: a(href="http://meteor.teachable.com", target="_blank") Meteor Academy
              p.
                Meteor Academy (not an actually academic institution) is a
                set of project-based tutorials for learning Meteor, a full-stack 
                JavaScript tool set for building web and mobile applications 
                at the speed of light.
              
            li 
              h3: a(href="http://wellcomecollection.org/prolix", target="_blank") Prolix
              p.
                Prolix is an interactive fiction piece I wrote for Wellcome
                Collection's [Friday Play?]. Note: Includes audio.
        
